@page "/purchase/edit/{id:int}"
@using Microsoft.AspNetCore.Components
@attribute [Authorize]
@inject HttpClient Http
@inject TokenAuthenticationStateProvider TokenProvider
@inject PurchaseState PurchaseState
@inject NavigationManager NavigationManager
<style>
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
</style>


@if (PurchaseState.Header == null)
{
    <MdcLinearProgress />
}
else
{
    <div class="row" style="margin-top: 5px;">
        <div class="col-sm-9">
            <h1 class="@MdcTypography.H4">@headerPage</h1>
        </div>
        <div class="col-sm-3">
            <MatButton Raised="true" OnClick="Back" Label="Back" Class="margin: 10px 0px 0px 0px;"></MatButton>
            <MatButton Raised="true" OnClick="@(e => { dialogIsAdd = true; })" Disabled="@(PurchaseState.Header.Id == 0)" Label="Add Item" Class="margin: 10px 0px 0px 0px;"></MatButton>
        </div>
    </div>
    <div class="mdc-card main-content-card">
        <div class="row">
            <div class="col-sm-4">
                <label class="control-label">Purchase No:</label>
                <MatTextField @bind-Value="PurchaseState.Header.PurchaseNo" Class="form-control text-box single-line"></MatTextField>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Purchase Date:</label>
                <MatDatePicker @bind-Value="PurchaseState.Header.PurchaseDate" Format="yyyy-MM-dd" Class="form-control text-box"></MatDatePicker>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Vendor Name:</label>
                <MatTextField @bind-Value="PurchaseState.Header.VendorName" Class="form-control text-box single-line"></MatTextField>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Purchase Status:</label>
                <MatSelect @bind-Value="PurchaseState.Header.PurchaseStatusIdValue">
                    <MatOptionString Value="0">All</MatOptionString>
                    <MatOptionString Value="10">Pending</MatOptionString>
                    <MatOptionString Value="20">Paid</MatOptionString>
                    <MatOptionString Value="30">Cancelled</MatOptionString>
                </MatSelect>
            </div>
            <div class="col-md-4">
                <label class="control-label">Total Crates:</label>
                <MatTextField @bind-Value="PurchaseState.Header.TotalCrates" ReadOnly="true" Class="form-control"></MatTextField>
            </div>
            <div class="col-md-4">
                <label class="control-label">Vendor Address:</label>
                <MatTextField @bind-Value="PurchaseState.Header.VendorAddress" Class="form-control"></MatTextField>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label class="control-label">Remark:</label>
                <MatTextField @bind-Value="PurchaseState.Header.Remark" Class="form-control"></MatTextField>
            </div>
            <div class="col-md-4" style="margin-top: 30px;">
                <MatButton Raised="true" OnClick="@(e => { dialogIsSave = true; })" Label="Save" Class="margin: 10px 0px 0px 0px;"></MatButton>
            </div>
        </div>
    </div>

}

@if (PurchaseState.Details != null)
{
    <table class="mdc-card">
        <thead>
            <tr>
                <th>Barcode#</th>
                <th>Product</th>
                <th>Weight (kg)</th>
                <th>Price (THB)</th>
                <th>No. of crates</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in PurchaseState.Details.ToList())
            {
                <tr>
                    <td>@item.EAN</td>
                    <td>@item.ProductName</td>
                    <td>@item.WeightKg</td>
                    <td>@item.UnitPriceExclTaxValue</td>
                    <td>@item.PurchaseCrates</td>
                    <td>@item.SubTotalExclTaxValue</td>
                    <td>
                        <MatButton Raised="true" OnClick="@(e => beforeDeleteItem(item.Id))" Label="Delete" Class="margin: 10px 0px 0px 0px;"></MatButton>
                        <MatButton Raised="true" OnClick="@(e => beforeUpdateItem(item.Id))" Label="Update" Class="margin: 10px 0px 0px 0px;"></MatButton>
                    </td>

                </tr>

            }
        </tbody>
    </table>

}

<MatDialog @bind-IsOpen="@dialogIsDelete">
    <MatDialogTitle>Confirmation</MatDialogTitle>
    <MatDialogContent>
        <p>Do you wich to delete this record?</p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => DeleteItem(item.Id)">OK</MatButton>
        <MatButton OnClick="@(e => { dialogIsDelete = false; })">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@dialogIsSave">
    <MatDialogTitle>Confirmation</MatDialogTitle>
    <MatDialogContent>
        <p>Do you wich to save this record?</p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => SavePurchase(PurchaseState.Header)">OK</MatButton>
        <MatButton OnClick="@(e => { dialogIsSave = false; })">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@dialogIsUpdate">
    <MatDialogTitle>Update Item</MatDialogTitle>
    <MatDialogContent>
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Product:</label>
                <MatTextField @bind-Value="@item.ProductName" Class="form-control text-box"></MatTextField>
            </div>
            <div class="col-sm-6">
                <label class="control-label">Weight (kg):</label>
                <MatTextField @bind-Value="item.WeightKg" Class="form-control text-box"></MatTextField>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Price (THB):</label>
                <MatTextField @bind-Value="item.UnitPriceExclTax" Class="form-control text-box"></MatTextField>
            </div>
            <div class="col-sm-6">
                <label class="control-label">No of crates:</label>
                <MatTextField @bind-Value="item.PurchaseCrates" Class="form-control text-box "></MatTextField>
            </div>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="()=> UpdateItem(item)">Save</MatButton>
        <MatButton OnClick="@(e => { dialogIsUpdate = false; })">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@dialogIsAdd">
    <MatDialogTitle>Add Item</MatDialogTitle>
    <MatDialogContent>
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Product:</label>
                <MatTextField @bind-Value="@item.ProductName" Class="form-control text-box"></MatTextField>
            </div>
            <div class="col-sm-6">
                <label class="control-label">Weight (kg):</label>
                <MatTextField @bind-Value="@item.WeightKg" Class="form-control text-box"></MatTextField>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Price (THB):</label>
                <MatTextField @bind-Value="@item.UnitPriceExclTax" Class="form-control text-box"></MatTextField>
            </div>
            <div class="col-sm-6">
                <label class="control-label">No of crates:</label>
                <MatTextField @bind-Value="@item.PurchaseCrates" Class="form-control text-box "></MatTextField>
            </div>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@AddItem">Save</MatButton>
        <MatButton OnClick="@(e => { dialogIsAdd = false; })">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    [Parameter]
    public int id { get; set; }
    public int itemDeleteId { get; set; }
    public string headerPage { get; set; }
    bool dialogIsSave = false;
    bool dialogIsDelete = false;
    bool dialogIsUpdate = false;
    bool dialogIsAdd = false;
    public DateTime purchaseDate;
    public PurchaseItemModel item = new PurchaseItemModel();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        {
            var token = await TokenProvider.GetTokenAsync();
            await PurchaseState.GetPurchaseAsync(id, token);
            purchaseDate = Convert.ToDateTime(PurchaseState.Header.PurchaseDateName);
            await PurchaseState.GetPurchaseItemsAsync(id, token);
            headerPage = "Edit Purchase";
        }
        else
        {
            PurchaseState.Header = new PurchaseModel();
            PurchaseState.Details = new List<PurchaseItemModel>();
            headerPage = "New Purchase";
            PurchaseState.Header.PurchaseDate = DateTime.Today;
            PurchaseState.Header.PurchaseStatusId = 0;
            PurchaseState.Header.PurchaseStatusIdValue = "0";
        }
    }


    async Task SavePurchase(PurchaseModel purchaseModel)
    {
        var token = await TokenProvider.GetTokenAsync();
        await PurchaseState.AddPurchaseAsync(purchaseModel, token);
        dialogIsSave = false; 
    }

    async Task AddItem()
    {
        if (PurchaseState.Header.Id > 0)
        {
            var token = await TokenProvider.GetTokenAsync();
            var detailRequest = new PurchaseItemUpdateRequest
            {
                PurchaseId = PurchaseState.Header.Id,
                // ProductId = item.ProductId,
                ProductName = item.ProductName,
                PurchaseCrates = item.PurchaseCrates,
                UnitPriceExclTax = item.UnitPriceExclTax,
                WeightKg = item.WeightKg
            };
            await PurchaseState.AddPurchaseItemAsync(detailRequest, token);
        }
        dialogIsAdd = false;
    }

    void beforeUpdateItem(int id)
    {
        item = PurchaseState.Details.FirstOrDefault(x => x.Id == id);
        dialogIsUpdate = true;
    }

    void beforeDeleteItem(int id)
    {
        item = PurchaseState.Details.FirstOrDefault(x => x.Id == id);
        dialogIsDelete = true;
    }

    async Task UpdateItem(PurchaseItemModel item)
    {
        if (PurchaseState.Header.Id > 0)
        {
            var token = await TokenProvider.GetTokenAsync();
            var detailRequest = new PurchaseItemUpdateRequest
            {
                Id = item.Id,
                PurchaseId = item.PurchaseId,
                ProductName = item.ProductName,
                PurchaseCrates = item.PurchaseCrates,
                UnitPriceExclTax = item.UnitPriceExclTax,
                WeightKg = item.WeightKg
            };
            await PurchaseState.UpdatePurchaseItemAsync(detailRequest, token);
        }
        dialogIsUpdate = false;
    }
    void Back()
    {
        NavigationManager.NavigateTo("/purchase/list");
    }

    async Task DeleteItem(int id)
    {
        var token = await TokenProvider.GetTokenAsync();
        Console.WriteLine($"id:{id}");
        await PurchaseState.DeletePurchaseItemAsync(id, token);
        dialogIsDelete = false;
    }
}
